@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 63%;
    --radius: 0.625rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark:root {
    --background: 30 29% 10%;
    --foreground: 0 0% 100%;
    --card: 30 22% 14%;
    --card-foreground: 0 0% 100%;
    --popover: 30 22% 14%;
    --popover-foreground: 0 0% 100%;
    --primary: 40 90% 67%;
    --primary-foreground: 30 29% 10%;
    --secondary: 30 22% 14%;
    --secondary-foreground: 0 0% 100%;
    --muted: 30 22% 14%;
    --muted-foreground: 30 6% 60%;
    --accent: 40 90% 67%;
    --accent-foreground: 30 29% 10%;
    --destructive: 0 70.9% 59.4%;
    --border: 30 15% 20%;
    --input: 30 15% 20%;
    --ring: 40 90% 67%;
    --chart-1: 40 90% 67%;
    --chart-2: 30 60% 50%;
    --chart-3: 20 70% 45%;
    --chart-4: 50 80% 60%;
    --chart-5: 35 75% 55%;
  }
}
