@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 100% 98%;
    --foreground: 351 6% 23%;
    --card: 0 0% 100%;
    --card-foreground: 351 6% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 351 6% 23%;
    --primary: 12 100% 69%;
    --primary-foreground: 0 0% 100%;
    --secondary: 9 100% 96%;
    --secondary-foreground: 10 48% 48%;
    --muted: 18 100% 96%;
    --muted-foreground: 7 20% 40%;
    --accent: 26 97% 74%;
    --accent-foreground: 351 6% 23%;
    --destructive: 355 78% 56%;
    --border: 16 100% 92%;
    --input: 16 100% 92%;
    --ring: 12 100% 69%;
    --radius: 0.625rem;
    --chart-1: 12 100% 69%;
    --chart-2: 26 97% 74%;
    --chart-3: 25 100% 82%;
    --chart-4: 16 100% 78%;
    --chart-5: 10 55% 58%;
  }

  .dark:root {
    --background: 335 16% 15%;
    --foreground: 20 30% 92%;
    --card: 322 10% 21%;
    --card-foreground: 20 30% 92%;
    --popover: 322 10% 21%;
    --popover-foreground: 20 30% 92%;
    --primary: 12 100% 69%;
    --primary-foreground: 0 0% 100%;
    --secondary: 325 10% 25%;
    --secondary-foreground: 20 30% 92%;
    --muted: 322 10% 21%;
    --muted-foreground: 21 22% 79%;
    --accent: 26 97% 74%;
    --accent-foreground: 335 16% 15%;
    --destructive: 355 78% 56%;
    --border: 325 10% 25%;
    --input: 325 10% 25%;
    --ring: 12 100% 69%;
    --chart-1: 12 100% 69%;
    --chart-2: 26 97% 74%;
    --chart-3: 25 100% 82%;
    --chart-4: 16 100% 78%;
    --chart-5: 10 55% 58%;
  }
}
